header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    z-index: 10;
    padding: 10px 100px;
    animation: slideDown 0.5s ease-in-out forwards 0.5s, fadeIn 0.5s ease-in-out forwards 0.5s;
    
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }


    100% {
        transform: translateY(0);
    }
}




.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 50px;
    height:50px;
    object-fit: contain;
    border-radius: 50%;

}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

 ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    text-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

ul li a:hover {
    color: #837777;
    transition: 0.3s;
    text-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}




@media (max-width: 768px) {
    header {
        padding: 20px 50px;
    }

 
}